.a{
    color: aquamarine;
}
.a2{
    background-color: bisque;
}
.b{
    background-color: blanchedalmond;
}
.b2{
    background-color: cadetblue;
}
.c{
    color: blueviolet;
}
.c1{
    background-color: cornsilk;
}
.d1{
    color: blue;
}
.d2{
    background-color: rgb(223, 174, 174);
}
.e{
    color: chartreuse;
}
.e1{
    background-color: rgb(181, 181, 230);
}