.container{
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 140px;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    "header header"
    "nav sidebar"
    "content sidebar"
    "footer footer"
}
.header{
    margin: 0;
    grid-area: header;
    font-size: 1.5rem;
    background-color: blue;
    color: white;
    text-align: center;
}
.nav{
    margin: 0;
    grid-area: nav;
    background-color: blue;
    color: white;
    border-top: 2px solid black;
}
.list{
    display:flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.list li{
    padding: .5rem;
}

.content{
    grid-area: content;
    margin: 1rem;
}
.content,.para{
    margin: 1rem;
}
.sidebar{
    margin: 0;
    padding: .5rem;
    grid-area:sidebar;
    background-color: rgb(18, 18, 69);
    color: white;
}
.footer{
    grid-area: footer;
    background-color: blue;
    color: white;
    text-align: center;
    margin: 0;
    padding: 2rem;
}