body{
    box-sizing:border-box;  `
    margin: 0;
}
.nav{
    background-color: rgb(241, 169, 92);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    align-items: center;
}
.order{
    display: flex;
    list-style: none;
    margin:0;
    margin-left: .10rem;
}
.link{
    padding: .8rem;
}
.link a{
    color: inherit;
    text-decoration: none;
}
.link:hover{
    background-color: rgb(1, 9, 9);
}